body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: cornflowerblue;
}
.navbar{
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
}
.dropned {
    float: left;
    overflow: hidden;
}
.dropned .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.innhold {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.innhold a {
    float: none;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropned:hover .innhold {
    display: block;
}
.navbar .icon {
  display: none;
}
.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17x;
    text-decoration: none;
}
.navbar a:hover {
    background-color: cornflowerblue;
    color: black;
}
.aktivside {
    background-color: cornflowerblue;
    color: black !important;
}
.infobar {
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.infobar a{
    float: left;
    color: white;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    display: block;
    padding: 13px 13px
}
.github{
    background-color: black;
}
.reddit{
    background-color: orangered;
}
.stackoverflow{
    background-color: black;
}
.stackexchange{
    background-color: blue;
}
.steam{
    background-color: darkblue;
}
.mail{
    background-color: rgb(57, 53, 255);
}
.overskrift, .informasjon, .bevis {
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    font-size: 20px;
    background-color: darkblue;
}
.informasjon {
    background-color: lightblue;
}
#bilde1 {
    background-image: url("Bilder/Principia_Mathematica.png");
    background-size: 100% 100%;
    padding: 5px;
    min-height: 200px;
}
.bevis {
    background-color: lightgrey;
}
.informasjon a{
  text-decoration: underline;
  color: inherit;
}
#fraktal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(630px, 1fr));
  grid-template-rows: repeat(auto-fit,1fr);
  margin: 10px;
}
#bilde2 {
  padding: 5px;
  min-height: 200px;
  max-width: 100% !important;
}
@media screen and (max-width:970px) {
  .navbar a:not(:first-child) {display: none}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width:970px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
}
